@using MVC_StokTakip.Models.Entity_Framework
@model List<TBL_URUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table id="tbl1" class="table table-bordered">
    <thead>
        <tr>
            <th>URUN ID</th>
            <th>URUN ADI</th>
            <th>MARKASI</th>
            <th>KATEGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urn in Model)
        {
            <tr>
                <td>@urn.URUNID</td>
                <td>@urn.URUNAD</td>
                <td>@urn.MARKA</td>
                <td>@urn.TBL_KATEGORILER.KATEGORIADI</td> @*kategoriler kısmından kategori adını çektik linq sorgusu ile*@
                <td>@urn.FIYAT</td>
                <td>@urn.STOK</td>
                <td><a href="/Urun/Sil/@urn.URUNID" class="btn btn-danger">SİL</a></td>
                <td><a href="/Urun/UrunGetir/@urn.URUNID" class="btn btn-success">GÜNCELLE</a></td>
            </tr>
        }
    </tbody>
</table>

<td><a href="/Urun/YeniUrun" class="btn btn-primary">YENİ ÜRÜN EKLE</a></td>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" />

<script>
    $('#tbl1').DataTable();
</script>